{% extends 'Summer_APP/base.html' %}

{% block title %}История создания - Everlasting Summer{% endblock %}

{% block content %}
<section class="content-section">
    <h2>История создания "Бесконечного лета"</h2>
    <p>Новелла "Бесконечное Лето" была создана командой разработчиков из России,
        известной как Soviet Games. Работа над проектом началась в 2015 году.
        Игра сочетает в себе элементы визуальной новеллы и симулятора свиданий,
        предлагая игроку исследовать историю главного героя, который оказывается
        в загадочном месте, наполненном загадками и неожиданными поворотами сюжета.
        "Бесконечное Лето" получило признание за свою уникальную атмосферу,
        хорошо проработанных персонажей и загадочный сюжет.</p>
</section>
{% endblock %}
